interface={{hotspot_interface}}
driver=nl80211
ssid={{hotspot_ssid}}
hw_mode=g
channel={{hotspot_wifi_channel}}
wpa=1
wpa_passphrase="{{hotspot_password}}"
wpa_key_mgmt=WPA-PSK
wpa_pairwise=TKIP CCMP
wpa_ptk_rekey=600
macaddr_acl=0