[Unit]
Description=Photobooth service
Before=graphical.target systemd-user-sessions.service

[Service]
WorkingDirectory=/home/{{ansible_user}}
ExecStart=/opt/photobooth/photobooth
Restart=always
RestartSec=3s

# @TODO: "is added as a dependency to a non-existent unit multi-user.target"
[Install]
WantedBy=default.target