.EventEditorForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-height: 85%;
    overflow: scroll;

    &__ActionButtons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
}